<%= form_for @item, class: "form-horizontal" do |f| %>
  <div class="well bs-component">
    <fieldset>
      <% if @item.errors.any? %>
        <div class="alert alert-dismissible alert-warning">
          <% @item.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>

      <div class="row">
        <div class="form-group">
          <%= f.label :code, class: "col-md-2 control-label" %>
          <div class="col-md-4">
            <%= f.text_field :code, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <br>

      <div class="row">
        <div class="form-group">
          <%= f.label :name, class: "col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group">
          <%= f.label :short_name, class: "col-md-2 control-label" %>
          <div class="col-md-6">
            <%= f.text_field :short_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= link_to "キャンセル", items_path, class: "btn btn-default" %>
          <%= f.submit button_name, class: "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  </div>
<% end %>
